.card-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 20px

.card
    border-radius: 10px
    border: 1px solid #eee
    background-color: #fafafa
    height: 40px
    width: 200px
    margin: 0 8px 16px
    padding: 16px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    transition: all 0.2s ease-in-out
    line-height: 24px

.card-container .card:not(:last-child)
    margin-right: 0
